@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@font-face {
	font-family: 'Chunk';
	src: url('/fonts/chunkfive.regular.ttf');
	font-style: normal;
	font-weight: normal;
}