.intro{
	@extend %flex_center;
	flex-direction: column;
	max-width: 655px;
	margin: 0 auto;
	&__title{
		@include text(80px,rgb(255, 255, 255),$fontchunk,$transform: uppercase,$align: center);}
	&__descrip{
		@include text(18px,#fafafa,300px,none,$fontlato,none,center)
	}
	
}
.title--greenish{
	color: #01a2a6;
}