.city{
	@extend %flex_center;
	background-color: rgba(255, 255, 255, 0.514);
	&__info{
		max-width: 35.3125rem;
		margin-left: auto;
	}
	&__img{
		margin-right: 2rem;
	}
	padding: 6.25rem 0;
}
.section{
	&__title{
		@include text(60px,#29d9c2,100,none,$fontbio);
		margin-bottom: 30px;
		@include phone{
			font-size: 42px;
			line-height: 40px;
		}
	}
	&__text{
		@include text(16px,#777,400,none,$fontlato);
		line-height: 2.1875rem;
	}
}
@include media(925px){
	.city{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 5rem 1rem;
		&__info{
			margin: 0;
			text-align: center;
			margin-top: 3rem;
		}
		&__img{
			margin: 0;
		}
	}
}
