footer.footer
	.section--map
		.footer__title Contact
		.container 
			.footer__info
				form.form
					input.input.input-1(placeholder="Your Email" type="email" name="email")
					input.input.input-2(placeholder="Company" type="text" name="Company")
					input.input.input-3(type="text" placeholder="Subject" name="Subject")
					textarea#comment(name="comment" placeholder="Your messages") 
					button.form__btn 
						a.btn__link.text-white Send message
				.contact__info 
					h2.contact__title You Can Find Us Here
					p.place__info Jl.Danau Bratan sekian
					a.link.link--yellow(href="#") FIND ON MAPS
					a.link(href="tel") (+62) 8816723812
					a.link(href="tel") (+62) 8512371632
		.subscribe 
			.container
				.sub__content 
					.sub__info
						h2.sub__title Keep In Touch
						p.sub__text We Will Give you latest information about Malang	
					form.sub
						input.sub__input(type="email" placeholder="Type Email Here for Subscribe")
						button.sub__btn(type="submit")
		.socialmed