footer.footer
	.section--map
		.footer__title Contact
		.container 
			.footer__linkus
				form.form
					input.input.input-1(placeholder="Your Email" type="email" name="email")
					input.input.input-2(placeholder="Company" type="text" name="Company")
					input.input.input-3(type="text" placeholder="Subject" name="Subject")
					textarea#comment(name="comment" placeholder="Your messages") 
					button.form__btn(type="submit")  Send message
				.contact__info 
					h2.contact__title You Can Find Us Here
					p.place__info Jl.Danau Bratan sekian
					a.link.link--yellow(href="#") FIND ON MAPS
					a.link(href="tel") (+62) 8816723812
					a.link(href="tel") (+62) 8512371632
		.subscribe 
			.container
				.sub__content 
					.sub__info
						h2.sub__title Keep In Touch
						p.sub__text We Will Give you latest information about Malang	
					form.sub
						input.sub__input(type="email" placeholder="Type Email Here for Subscribe")
						button.sub__btn(type="submit") 
							svg(version='1.2' baseProfile='tiny-ps' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 28' width='16' height='28')
								g#subsc
									path#Forward.s0(d='m0.59 0.59c0.78-0.78 2.05-0.78 2.83 0l11.99 11.99c0.39 0.39 0.59 0.91 0.59 1.42c0 0.51-0.19 1.03-0.59 1.42l-11.99 11.99c-0.78 0.78-2.05 0.78-2.83 0c-0.78-0.78-0.78-2.05 0-2.83l10.58-10.57l-10.58-10.57c-0.78-0.78-0.78-2.05 0-2.83z')


		.footer__info
			.container 
				.footer__info--top
					.allow__links
						a.allow__info Term & Condition   •   
						a.allow__info Policy  •  
						a.allow__info Privacy
					.social
						a.social__link(href="#") 
							img.social__link--img(src="../img/twitter.png", alt="")
						a.social__link(href="#") 
							img.social__link--img(src="../img/inst.png", alt="")
						a.social__link(href="#") 
							img.social__link--img(src="../img/facebook.png", alt="")
				.author
					a.author__link(href="copyright@YokMalang") copyright@YokMalang.
					span.rights All Right Reserved 2015
					