header.header 
	.navbar
		.brand 
			div.logo Yok
				span.logo--bold Ngalam
		nav.nav 
			a.nav__link(href="#") Home 
			a.nav__link(href="#") Destination 
			a.nav__link(href="#") Ittinary 
			a.nav__link(href="#") Review
			a.nav__link(href="#") Contact 
		.author 
			img.author__img(src="../img/user.img", alt="")
