main.main 
	.block--white
		.container 
			div.section.city
				img.city__img.img(src="../img/city.png" alt="")
				.city__info 
					h2.section__title City of 
						span.title--greenish Love
					p.section__text Malang is the second largest city in East Java province, Indonesia. It has a history dating back to the ancient Mataram Kingdom. The city is famous for its cool temperature. People in East Java sometimes call it "Paris of East Java.

	.container
		section.section.dest 
			.dest__info
				.dest__info--top
					h2.section__title Des
						span.title--greenish tination
					a.more-info  see basic regulation
				p.section__text.dest__text Being around by many mountain, Malang not only came with mountain vacation, but our beach,cultural spot, and Human Interest is worth to experienced.
				.dest__info--bottom
					form.d-flex.search
						input.form.form-control.me-2.rounded-pill(type='search' placeholder='search destination' aria-label='Search')
						button.btn.search__btn(type='submit')
						//- i.bi.bi-search
					p.recomend All place  / 
						span.title--gray Recomended place
		section.set
			.set__info 
				h2.section__title.text--center Set 
					span.title--greenish Ittinery
				p.section__text.text--center Simply drag and drop what you want to visit, and voila we make a ittinery and schedule for your vacation. Have a great trip !